.root {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    border-radius: 0.25rem;
    width: 100%;
}

.inner {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    width: 100%;
    min-width: 300px;
}