.colorPickerTrigger {
  cursor: pointer;
  border-radius: var(--component-radii-sm);
  border: 1px solid var(--color-neutral-stroke-subtle);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  padding: 0;

  &:hover {
    outline: 1px solid var(--color-neutral-stroke-default);
  }
}

.popoverCloseRemoveButton {
  all: unset;
  margin: var(--component-spacing-md);
}