@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import "reactflow/dist/style.css" layer(components);
@import "@kinforge/behave-graph-flow/global.css" layer(components);
@source "@kinforge/*";
@source "../../node_modules/@kinforge/*";