.rc-menu {
    color: var(--colors-fg);
    border: none;
    font-size: var(--fontSizes-small);
    box-shadow: var(--shadows-focus);
}



.rc-menu-item-active,
.rc-menu-submenu-active>.rc-menu-submenu-title {
    background: var(--colors-bgEmphasis);
    cursor: default;
}



.rc-menu-horizontal {
    margin: 0;
    background-color: var(--colors-bgCanvas);
    color: var(--colors-fg);
    border-radius: 0;
    border-bottom: 1px solid var(--colors-borderSubtle);
    box-shadow: none;

}

.rc-menu-horizontal>.rc-menu-item,
.rc-menu-horizontal>.rc-menu-submenu>.rc-menu-submenu-title {
    padding: 0em 0.5em;
    font-size: 0.8em;
}

.rc-menu-item-selected {
    background-color: unset;
    transform: translateZ(0);
}

.rc-menu-submenu-selected {
    background-color: unset;
}

.rc-menu-horizontal>.rc-menu-item:hover,
.rc-menu-horizontal>.rc-menu-submenu>.rc-menu-submenu-title:hover {
    background: var(--colors-bgEmphasis);
    border-radius: 2px;
    border-bottom: none;
}


.rc-menu-horizontal>.rc-menu-submenu-active,
.rc-menu-horizontal>.rc-menu-item-active {
    color: white;
    border-radius: 2px;
    background: var(--colors-bgSubtle);
    border-bottom: none;
}




.rc-menu-submenu>.rc-menu {
    background-color: var(--colors-bgCanvas);
    border: 1px solid var(--colors-borderSubtle);
    font-size: 0.8em;
}


.rc-menu-vertical>.rc-menu-item,
.rc-menu-vertical-left>.rc-menu-item,
.rc-menu-vertical-right>.rc-menu-item,
.rc-menu-inline>.rc-menu-item,
.rc-menu-vertical>.rc-menu-submenu>.rc-menu-submenu-title,
.rc-menu-vertical-left>.rc-menu-submenu>.rc-menu-submenu-title,
.rc-menu-vertical-right>.rc-menu-submenu>.rc-menu-submenu-title,
.rc-menu-inline>.rc-menu-submenu>.rc-menu-submenu-title {
    cursor: pointer;
    padding: var(--sizes-2) var(--sizes-4);
}

.rc-menu-item-divider {
    background-color:var(--colors-borderDefault);
}

.rc-menu-item:hover .inner-menu-item {
    background-color: var(--vscode-button-background, #0078d4)
}

.rc-menu-submenu-popup {
    z-index: 1000;
}

