:root {
    --vscode-button-border: #313131;
    --vscode-foreground: #cccccc;
    --vscode-editorWidget-background: #202020;
    --vscode-editorWidget-foreground: #cccccc;
    --vscode-editorWidget-border: #454545;
    --vscode-editor-background: #1f1f1f;
    --vscode-editor-foreground: #cccccc;
    --vscode-editorGroupHeader-tabsBackground: #181818;
    --vscode-sideBarSectionHeader-background: #181818;
    --vscode-sideBarSectionHeader-foreground: #cccccc;
    --vscode-sideBarSectionHeader-border: #2b2b2b;
}