@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import "reactflow/dist/style.css" layer(components);
@source "@kiberon-labs/*";
@source "../../node_modules/@kiberon-labs/*";